

/* */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Form container */

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




/* submit button */
.submit {
  padding: 16px;
}

.submit_btn {
  background: #b1d180;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  margin-top: 10px; 
  padding: 5px 15px; 
}

.submit_btn:hover {
	background: #8FC93A;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  cursor: pointer; 
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.grid {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 8px; 
}

.month {
  font-size: 11px; 
  line-height: 16px; 
  background-color: white; 
  border-radius: 8px; 
  padding: 2px;  
}
.selected {
  color: green;  
  border: 1px solid green; 
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

